 .home{
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-image: url(pic/pic2.jpg);
    background-color: #242424;
    background-repeat:no-repeat ;
    background-size: 50% 90%;
    position: relative;
}
.loc{
    display: flex;
    flex-direction:column;
    position: absolute;
    left: 45%;
    top: 10%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 5%;
    color: #29cee1;
    font-size:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:20px;
}
.title .big{
    font-size:130%;
    padding-bottom:15%;
}

.name{
    color:#999
}

input{
    background-color: transparent;
    border: 4px solid #999;
    padding:10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #999;
    opacity: 0.6;
}
.app-btn{
    background-color: transparent;
    border: 1px solid #d11258;
    color: #29cee1;;
    padding:13px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 10px 0px #999;
    margin-top: 70px;
}

.app-btn:hover{
    color:#242424;
    transition: 1s;
    color:#29cee1;
    box-shadow: inset 0 0 20px 4px #d11258;
}
